


<h4>FUNCIONA LA HOSTIA</h4>
<form action="#" method="get">


				 <h4>{% placeholder tituloBusqueda %}</h4>

						 <div id="menu-outer2">
						 <div class="table2">
							 <ul id="horizontal-list1">
								 <li id="izquierda-form">
									 <h5>{% placeholder tituloCanton %}</h5>
																 <select name="lugar">
																	 <option value="todos">Todos</option>
																	 {%for opcion in etiquetas_cantones %}
																	 <option value="{{opcion.canton}}">{{opcion.canton}}</option>
																	 {% endfor %}

																	 </select>
								 </li>

								 <li id="derecha-form">
									 <h5>{% placeholder tituloActividad %}</h5>
									 <select name="actividad">
										 <option value="todas">Todas</option>
										 {%for opcion in etiquetas_actividad %}
										 <option value="{{opcion.actividad}}">{{opcion.actividad}}</option>
										 {% endfor %}
										 </select>
								 </li>
								 	<li>
								  <button type="submit">Buscar</button>
									</li>
								</ul>
						 </div>

 </form>
