<div class="container">
  <div class="row align-items-center position-relative">

    <div class="col-3">
      <div class="site-logo">
        <a href="..">Armandito link<span class="text-primary">.</span> </a>
      </div>
    </div>

    <div class="col-9 text-right">

      <span class="d-inline-block d-lg-none"><a href="#" class=" site-menu-toggle js-menu-toggle py-5 "><span class="icon-menu h3 text-white"></span></a></span>

      <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
        {% load menu_tags %}

        {% for child in children %}
        <li class="child{% if child.selected %} selected{% endif %}{% if child.ancestor %} ancestor{% endif %}{% if child.sibling %} sibling{% endif %}{% if child.descendant %} descendant{% endif %}">
        	<a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
        	{% if child.children %}
        	<ul>
        		{% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
        	</ul>
        	{% endif %}
        </li>
        {% endfor %}
        
      </nav>
    </div>


  </div>
</div>
