{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
<br>
<h1 style = "margin-top: 20 px">
{% placeholder "titulo" %}
</h1>
	<h2>
{% placeholder "subtitulo" %}
</h2>
{% block filtro%}

<form action="/busqueda" method="get">


				 <h4>{% placeholder tituloBusqueda %}</h4>

						 <div id="menu-outer2">
						 <div class="table2">
							 <ul id="horizontal-list1">
								 <li id="izquierda-form">
									 <h5>{% placeholder tituloCanton %}</h5>
									 				 <div class="custom-selectx" style="width:200px;">
																 <select name="lugar" >
																	 <option value="todos">Todos</option>
																	 <option value="Golfito">Golfito</option>
																		<option value="Osa">Osa</option>
																		<option value="Corredores">Corredores</option>
																		<option value="Pérez Zeledón">Pérez Zeledón</option>
																		<option value="Coto Brus">Coto Brus</option>
																	 {% comment %}
																	 {%for opcion in etiquetas_cantones %}
																	 <option value="{{opcion.canton}}">{{opcion.canton}}</option>
																	 {% endfor %}
																	{% endcomment %}

																	 </select>
													 </div >
								 </li>

								 <li id="derecha-form">
									 <h5>{% placeholder tituloActividad %}</h5>
									 	   	<div class="custom-selectx" style="width:200px;">
																 <select name="actividad" >
																	 <option value="todas">Todas</option>
																	 <option value="agroindustria">Agroindustria</option>
																	 <option value="agropecuaria">Agropecuaria</option>
																	 <option value="turismo">Turismo</option>
																	 <option value="artesania">Artesanía</option>

																	 {% comment %}
																	 {%for opcion in etiquetas_actividad %}
																	 <option value="{{opcion.actividad}}">{{opcion.actividad}}</option>
																	 {% endfor %}
																	 {% endcomment %}
																	 </select>
													</div >
								 </li>
								 	<li>
										<br>
										<br>
									
								  <button class=boton type="submit">Buscar</button>
									</li>
								</ul>
						 </div>

 </form>


		{% endblock filtro%}



		 {% block carousel %}
		 {% endblock carousel %}

     {% placeholder "content1" %}

     {% placeholder "content2" %}

     {% placeholder "content3" %}

     {% placeholder "content4" %}

     {% placeholder "content5" %}

     {% placeholder "content6" %}

     {% placeholder "content7" %}

     {% block js2 %}
		 <script>
		 var x, i, j, l, ll, selElmnt, a, b, c;
		 /*look for any elements with the class "custom-select":*/
		 x = document.getElementsByClassName("custom-select");
		 l = x.length;
		 for (i = 0; i < l; i++) {
		   selElmnt = x[i].getElementsByTagName("select")[0];
		   ll = selElmnt.length;
		   /*for each element, create a new DIV that will act as the selected item:*/
		   a = document.createElement("DIV");
		   a.setAttribute("class", "select-selected");
		   a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
		   x[i].appendChild(a);
		   /*for each element, create a new DIV that will contain the option list:*/
		   b = document.createElement("DIV");
		   b.setAttribute("class", "select-items select-hide");
		   for (j = 1; j < ll; j++) {
		     /*for each option in the original select element,
		     create a new DIV that will act as an option item:*/
		     c = document.createElement("DIV");
		     c.innerHTML = selElmnt.options[j].innerHTML;
		     c.addEventListener("click", function(e) {
		         /*when an item is clicked, update the original select box,
		         and the selected item:*/
		         var y, i, k, s, h, sl, yl;
		         s = this.parentNode.parentNode.getElementsByTagName("select")[0];
		         sl = s.length;
		         h = this.parentNode.previousSibling;
		         for (i = 0; i < sl; i++) {
		           if (s.options[i].innerHTML == this.innerHTML) {
		             s.selectedIndex = i;
		             h.innerHTML = this.innerHTML;
		             y = this.parentNode.getElementsByClassName("same-as-selected");
		             yl = y.length;
		             for (k = 0; k < yl; k++) {
		               y[k].removeAttribute("class");
		             }
		             this.setAttribute("class", "same-as-selected");
		             break;
		           }
		         }
		         h.click();
		     });
		     b.appendChild(c);
		   }
		   x[i].appendChild(b);
		   a.addEventListener("click", function(e) {
		       /*when the select box is clicked, close any other select boxes,
		       and open/close the current select box:*/
		       e.stopPropagation();
		       closeAllSelect(this);
		       this.nextSibling.classList.toggle("select-hide");
		       this.classList.toggle("select-arrow-active");
		     });
		 }
		 function closeAllSelect(elmnt) {
		   /*a function that will close all select boxes in the document,
		   except the current select box:*/
		   var x, y, i, xl, yl, arrNo = [];
		   x = document.getElementsByClassName("select-items");
		   y = document.getElementsByClassName("select-selected");
		   xl = x.length;
		   yl = y.length;
		   for (i = 0; i < yl; i++) {
		     if (elmnt == y[i]) {
		       arrNo.push(i)
		     } else {
		       y[i].classList.remove("select-arrow-active");
		     }
		   }
		   for (i = 0; i < xl; i++) {
		     if (arrNo.indexOf(i)) {
		       x[i].classList.add("select-hide");
		     }
		   }
		 }
		 /*if the user clicks anywhere outside the select box,
		 then close all select boxes:*/
		 document.addEventListener("click", closeAllSelect);
		 </script>
     {% endblock js2 %}



 {% endblock content %}
